<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="css/jquery.selectBoxIt.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/datepicker.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <link href="template_styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="c-modal mfp-hide" id="popup-form">
        <div class="c-added-basket-section">
            <div class="c-added-basket-section__main">
                <div class="c-added-basket-section__main-title"><h2 class="c-title c-title_lg c-title_main text-center">
                    Товар добавлен в корзину</h2>
                </div>
                <div class="c-added-basket-section__main-product">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div class="align-items-center c-product-card_left-control c-product-card_card-added  c-product-card c-product-card_bordered c-product-card_lg ">
                                <div class="c-checkbox-primary">
                                    <input class="c-checkbox c-checkbox_primary" id="example-checkbox"
                                           type="checkbox">
                                    <label class="c-label mb-0" for="example-checkbox"></label>
                                </div>
                                <a class="c-product-card__preview" href="#">
                                    <img alt="" src="images/cupboard.png">
                                </a>
                                <div class="c-product-card__body">
                                    <div class="c-product-card__description">
                                        <div class="c-product-desc">
                                            <a class="c-product-desc__text c-product-desc__item" href="#"> 19"
                                                Напольный серверный шкаф NTSS ПРОЦОД МАСТЕР 47U 800х1200 мм сварной
                                                в сборе, двери передняя перфорированная, задние двойные
                                                перфорированные, боковые стенки, регулируемые опоры, ролики, RAL
                                                9005 </a>
                                            <div class="c-product-desc__articul c-product-desc__item">
                                                343423426524345
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-product-card__controls">
                                        <div class="c-product-controls">
                                            <div class="c-product-controls__body">
                                                <div class="c-product-controls__counter c-input-counter">
                                                    <input class="c-input-counter__input c-input c-input_md c-input_style-secondary c-input_color-primary"
                                                           type="text" value="1">
                                                    <button class="c-input-counter__left-ctrl" type="button">-
                                                    </button>
                                                    <button class="c-input-counter__right-ctrl" type="button">+
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="c-total-price">
                                <div class="c-total-price__item">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="c-total-price__position">Товаров в корзине:</div>
                                        </div>
                                        <div class="col-4">
                                            <div class="c-total-price__price">3</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-total-price__item">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="c-total-price__position">Стоимость:</div>
                                        </div>
                                        <div class="col-4">
                                            <div class="c-total-price__price">24 590 ₽</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-added-basket-section__related">
                <h2 class="c-added-basket-section__related-title">С этим товаром покупают
                </h2>
                <div class="c-added-basket-section__related-list">
                    <div class="c-product-list c-product-list_lg row">
                        <div class="col-12 col-xl-6 c-product-list__item">
                            <div class="align-items-center c-product-card_left-control c-product-card c-product-card_lg c-product-card_bordered c-product-card_events">
                                <div class="c-checkbox-primary">
                                    <input class="c-checkbox c-checkbox_primary" id="example-checkbox"
                                           type="checkbox">
                                    <label class="c-label mb-0" for="example-checkbox"></label>
                                </div>
                                <a class="c-product-card__preview" href="#">
                                    <img alt="" src="images/cupboard.png">
                                </a>
                                <div class="c-product-card__body">
                                    <div class="c-product-card__description">
                                        <div class="c-product-desc">
                                            <a class="c-product-desc__text c-product-desc__item" href="#"> 19"
                                                Напольный
                                                серверный шкаф NTSS ПРОЦОД МАСТЕР 47U 800х1200 мм сварной в сборе,
                                                двери
                                                передняя перфорированная, задние двойные перфорированные, боковые
                                                стенки,
                                                регулируемые опоры, ролики, RAL 9005 </a>
                                            <div class="c-product-desc__articul c-product-desc__item">
                                                343423426524345
                                            </div>

                                        </div>
                                    </div>
                                    <div class="c-product-card__controls">
                                        <div class="c-product-controls">
                                            <div class="c-product-controls__body">
                                                <div class="c-product-controls__counter c-input-counter">
                                                    <input class="c-input-counter__input c-input c-input_md c-input_style-secondary c-input_color-primary"
                                                           type="text" value="1">
                                                    <button class="c-input-counter__left-ctrl" type="button">-
                                                    </button>
                                                    <button class="c-input-counter__right-ctrl" type="button">+
                                                    </button>
                                                </div>
                                                <button class="c-product-controls__basket c-btn c-btn_style-default c-btn_color-primary c-btn_sm"
                                                        href="#" type="button"> В корзину
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6 c-product-list__item">
                            <div class="align-items-center c-product-card_left-control c-product-card c-product-card_lg c-product-card_bordered c-product-card_events">
                                <div class="c-checkbox-primary">
                                    <input class="c-checkbox c-checkbox_primary" id="example-checkbox"
                                           type="checkbox">
                                    <label class="c-label mb-0" for="example-checkbox"></label>
                                </div>
                                <a class="c-product-card__preview" href="#">
                                    <img alt="" src="images/cupboard.png">
                                </a>
                                <div class="c-product-card__body">
                                    <div class="c-product-card__description">
                                        <div class="c-product-desc">
                                            <a class="c-product-desc__text c-product-desc__item" href="#"> 19"
                                                Напольный
                                                серверный шкаф NTSS ПРОЦОД МАСТЕР 47U 800х1200 мм сварной в сборе,
                                                двери
                                                передняя перфорированная, задние двойные перфорированные, боковые
                                                стенки,
                                                регулируемые опоры, ролики, RAL 9005 </a>
                                            <div class="c-product-desc__articul c-product-desc__item">
                                                343423426524345
                                            </div>

                                        </div>
                                    </div>
                                    <div class="c-product-card__controls">
                                        <div class="c-product-controls">
                                            <div class="c-product-controls__body">
                                                <div class="c-product-controls__counter c-input-counter">
                                                    <input class="c-input-counter__input c-input c-input_md c-input_style-secondary c-input_color-primary"
                                                           type="text" value="1">
                                                    <button class="c-input-counter__left-ctrl" type="button">-
                                                    </button>
                                                    <button class="c-input-counter__right-ctrl" type="button">+
                                                    </button>
                                                </div>
                                                <button class="c-product-controls__basket c-btn c-btn_style-default c-btn_color-primary c-btn_sm"
                                                        href="#" type="button"> В корзину
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6 c-product-list__item">
                            <div class="align-items-center c-product-card_left-control c-product-card c-product-card_lg c-product-card_bordered c-product-card_events">
                                <div class="c-checkbox-primary">
                                    <input class="c-checkbox c-checkbox_primary" id="example-checkbox"
                                           type="checkbox">
                                    <label class="c-label mb-0" for="example-checkbox"></label>
                                </div>
                                <a class="c-product-card__preview" href="#">
                                    <img alt="" src="images/cupboard.png">
                                </a>
                                <div class="c-product-card__body">
                                    <div class="c-product-card__description">
                                        <div class="c-product-desc">
                                            <a class="c-product-desc__text c-product-desc__item" href="#"> 19"
                                                Напольный
                                                серверный шкаф NTSS ПРОЦОД МАСТЕР 47U 800х1200 мм сварной в сборе,
                                                двери
                                                передняя перфорированная, задние двойные перфорированные, боковые
                                                стенки,
                                                регулируемые опоры, ролики, RAL 9005 </a>
                                            <div class="c-product-desc__articul c-product-desc__item">
                                                343423426524345
                                            </div>

                                        </div>
                                    </div>
                                    <div class="c-product-card__controls">
                                        <div class="c-product-controls">
                                            <div class="c-product-controls__body">
                                                <div class="c-product-controls__counter c-input-counter">
                                                    <input class="c-input-counter__input c-input c-input_md c-input_style-secondary c-input_color-primary"
                                                           type="text" value="1">
                                                    <button class="c-input-counter__left-ctrl" type="button">-
                                                    </button>
                                                    <button class="c-input-counter__right-ctrl" type="button">+
                                                    </button>
                                                </div>
                                                <button class="c-product-controls__basket c-btn c-btn_style-default c-btn_color-primary c-btn_sm"
                                                        href="#" type="button"> В корзину
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6 c-product-list__item">
                            <div class="align-items-center c-product-card_left-control c-product-card c-product-card_lg c-product-card_bordered c-product-card_events">
                                <div class="c-checkbox-primary">
                                    <input class="c-checkbox c-checkbox_primary" id="example-checkbox"
                                           type="checkbox">
                                    <label class="c-label mb-0" for="example-checkbox"></label>
                                </div>
                                <a class="c-product-card__preview" href="#">
                                    <img alt="" src="images/cupboard.png">
                                </a>
                                <div class="c-product-card__body">
                                    <div class="c-product-card__description">
                                        <div class="c-product-desc">
                                            <a class="c-product-desc__text c-product-desc__item" href="#"> 19"
                                                Напольный
                                                серверный шкаф NTSS ПРОЦОД МАСТЕР 47U 800х1200 мм сварной в сборе,
                                                двери
                                                передняя перфорированная, задние двойные перфорированные, боковые
                                                стенки,
                                                регулируемые опоры, ролики, RAL 9005 </a>
                                            <div class="c-product-desc__articul c-product-desc__item">
                                                343423426524345
                                            </div>

                                        </div>
                                    </div>
                                    <div class="c-product-card__controls">
                                        <div class="c-product-controls">
                                            <div class="c-product-controls__body">
                                                <div class="c-product-controls__counter c-input-counter">
                                                    <input class="c-input-counter__input c-input c-input_md c-input_style-secondary c-input_color-primary"
                                                           type="text" value="1">
                                                    <button class="c-input-counter__left-ctrl" type="button">-
                                                    </button>
                                                    <button class="c-input-counter__right-ctrl" type="button">+
                                                    </button>
                                                </div>
                                                <button class="c-product-controls__basket c-btn c-btn_style-default c-btn_color-primary c-btn_sm"
                                                        href="#" type="button"> В корзину
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-added-basket-section__footer">
                <button class="c-btn c-btn_style-default c-btn_color-light c-btn_lg" type="reset">Продолжить покупки</button>
            </div>
        </div>
    </div>
    <a  href="#popup-form" class="c-product__img c-popup">POPUP</a>
</div>
</body>

<script src="js/jquery.js"></script>
<script src="js/lazysizes.min.js"></script>
<script src="js/ls.unveilhooks.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="js/selectBoxIt/jquery.selectBoxIt.js"></script>
<script src="js/mustache.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/datepicker.js"></script>
<script src="js/jquery.mask.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/script.js"></script>
</html>

