extends ../pug/layout
append content
    .c-content.c-content_form-page
        .container
        form.c-form(action='ajax/handleTest.json' data-ajax-form='')
            .c-form__header
                h2.c-form__title Вход в личный кабинет
            .c-form__body
                .c-form__fields
                    .c-form__field.c-input-wrap.c-input-wrap_lg.c-input-wrap_anim-label
                        input#login.w-100.c-input-wrap__input.c-input.c-input_style-default.c-input_lg.c-input_color-primary(required='' name='login' type='text')
                        label.c-input-wrap__label(for='login') Логин
                            span.u-text-red *
                    .c-form__field.c-input-wrap.c-input-wrap_lg.c-input-wrap_anim-label
                        input#password.w-100.c-input-wrap__input.c-input.c-input_style-default.c-input_lg.c-input_color-primary(name='password' required='' type='password')
                        label.c-input-wrap__label(for='password') Пароль
                            span.u-text-red *
                .c-form__controls
                    button.c-form__control.c-btn.c-btn_style-default.c-btn_color-primary.c-btn_lg(type='submit') Войти
            .c-form__footer.text-center Еще нет личного кабинета?
                a.c-link.c-link_events.d-inline-block(href='#')
                    b Тогда зарегистрируйтесь