<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="css/jquery.selectBoxIt.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/datepicker.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <link href="template_styles.css" rel="stylesheet">
</head>
<body>
<div class="c-section c-section_lg pt-0">
    <img src="images/banner.jpg" alt="">
</div>
<div class="container">
    <div class="c-section c-section_lg">
        <div class="c-section__header">
            <div class="c-title c-title_md text-uppercase text-center">продукты и решения</div>
        </div>
        <div class="c-section__body">
            <div class="row u-reset-indent">
                <div class="col-2">
                    <div class="c-category-card">
                        <div class="c-category-card__prev"
                             style="background-image: url(https://pngicon.ru/file/uploads/koshka.png)">
                        </div>
                        <div class="c-category-card__title">Активное <br> оборудование</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="c-category-card">
                        <div class="c-category-card__prev"
                             style="background-image: url(https://pngicon.ru/file/uploads/koshka.png)">
                        </div>
                        <div class="c-category-card__title">Активное <br> оборудование</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="c-category-card">
                        <div class="c-category-card__prev"
                             style="background-image: url(https://pngicon.ru/file/uploads/koshka.png)">
                        </div>
                        <div class="c-category-card__title">Активное <br> оборудование</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="c-category-card">
                        <div class="c-category-card__prev"
                             style="background-image: url(https://pngicon.ru/file/uploads/koshka.png)">
                        </div>
                        <div class="c-category-card__title">Активное <br> оборудование</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="c-category-card">
                        <div class="c-category-card__prev"
                             style="background-image: url(https://pngicon.ru/file/uploads/koshka.png)">
                        </div>
                        <div class="c-category-card__title">Активное <br> оборудование</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="c-category-card">
                        <div class="c-category-card__prev"
                             style="background-image: url(https://pngicon.ru/file/uploads/koshka.png)">
                        </div>
                        <div class="c-category-card__title">Активное <br> оборудование</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-section c-section_lg">
        <div class="c-section__body">
            <div class="row">
                <div class="col-5">
                    <div class="c-title c-title_sm mb-2">Структурированная кабельная система (СКС)</div>
                    <div class="mb-5">
                        Это основа информационной структуры любого предприятия. Всё разнообразие информационных сервисов
                        различных типов и назначений, различных периферийных устройств, а так же автоматизированных
                        рабочих
                        мест, СКС позволяет объединить в одну систему. Такие системы как: локальные и телефонные сети,
                        охранно-пожарная сигнализация, система видеонаблюдения, контроль и управление доступом, являются
                        неотъемлемой частью любой современной организации.
                    </div>
                    <button class="c-btn c-btn_style-default c-btn_color-primary c-btn_lg c-btn_width-md" type="button">
                        Защита проекта
                    </button>
                </div>
                <div class="col-6 offset-1">
                    <img src="images/about-main-page.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="c-section c-section_lg">
        <img src="images/calc-banner.jpg" alt="">
    </div>
<div class="container">
    <div class="c-section c-section_lg">
        <div class="c-section__header">
            <div class="c-title c-title_md text-uppercase">новости</div>
        </div>
        <div class="c-section__body">
            <div class="row">
                <div class="col-3">
                    <div class="c-news-card">
                        <div class="c-news-card__prev"
                             style="background-image: url(https://n1s2.hsmedia.ru/43/8e/85/438e85e1dcf8bc45fdb4738ad67e0523/728x485_1_676f156728d52a40cefbf4e88311021a@5000x3333_0xac120003_744610521626771276.jpg)">
                        </div>
                        <div class="c-news-card__title">Название новости, может быть в <br> несколько строк</div>
                        <div class="c-news-card__date">01.01.2022</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="c-news-card">
                        <div class="c-news-card__prev"
                             style="background-image: url(https://n1s2.hsmedia.ru/43/8e/85/438e85e1dcf8bc45fdb4738ad67e0523/728x485_1_676f156728d52a40cefbf4e88311021a@5000x3333_0xac120003_744610521626771276.jpg)">
                        </div>
                        <div class="c-news-card__title">Название новости, может быть в <br> несколько строк</div>
                        <div class="c-news-card__date">01.01.2022</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="c-news-card">
                        <div class="c-news-card__prev"
                             style="background-image: url(https://n1s2.hsmedia.ru/43/8e/85/438e85e1dcf8bc45fdb4738ad67e0523/728x485_1_676f156728d52a40cefbf4e88311021a@5000x3333_0xac120003_744610521626771276.jpg)">
                        </div>
                        <div class="c-news-card__title">Название новости, может быть в <br> несколько строк</div>
                        <div class="c-news-card__date">01.01.2022</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="c-news-card">
                        <div class="c-news-card__prev"
                             style="background-image: url(https://n1s2.hsmedia.ru/43/8e/85/438e85e1dcf8bc45fdb4738ad67e0523/728x485_1_676f156728d52a40cefbf4e88311021a@5000x3333_0xac120003_744610521626771276.jpg)">
                        </div>
                        <div class="c-news-card__title">Название новости, может быть в <br> несколько строк</div>
                        <div class="c-news-card__date">01.01.2022</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-section c-section_lg">
        <div class="c-section__header">
            <div class="c-title c-title_md text-uppercase text-center">О компании NTSS</div>
        </div>
        <div class="c-section__body">
            <div class="row">
                <div class="col-5">
                    <div class="mb-5">
                        Основанная в 2009 году, NTSS является глобальной высокотехнологичной компанией, предоставляющей
                        высокоскоростные сетевые решения и услуги для нескольких отраслей промышленности. NTSS
                        предлагает широкий спектр стандартных телекоммуникационных продуктов, а также может настраивать
                        продукты в соответствии с индивидуальными потребностями. Мы управляем нашей отраслью,
                        обеспечивая эффективность, высокое качество, непрерывные инновации и легкость доступа ко всем
                        нашим клиентам.
                    </div>
                    <button class="c-btn c-btn_style-default c-btn_color-primary c-btn_lg c-btn_width-md" type="button">
                        Читать подробнее
                    </button>
                </div>
                <div class="col-6 offset-1">
                    <img src="images/about-main-page.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="c-section c-section_lg pb-0">
    <img src="images/banner_download.jpg" alt="">
</div>
</body>

<script src="js/jquery.js"></script>
<script src="js/lazysizes.min.js"></script>
<script src="js/ls.unveilhooks.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="js/selectBoxIt/jquery.selectBoxIt.js"></script>
<script src="js/mustache.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/datepicker.js"></script>
<script src="js/jquery.mask.js"></script>
<script src="js/script.js"></script>
</html>

