extends ../pug/layout
append content
    .container
        h1.c-title.c-title_lg.c-title_main Прайс-листы
        .c-content.c-content_default
            p.mb-5
                | Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта:
                | постоянный количественный рост и сфера нашей активности предопределяет высокую востребованность дальнейших
                | направлений развития. Предварительные выводы неутешительны: повышение уровня гражданского сознания
                | способствует повышению качества благоприятных перспектив. Лишь активно развивающиеся страны третьего мира,
                | которые представляют собой яркий пример континентально-европейского типа политической культуры, будут в
                | равной степени предоставлены сами себе. Наше дело не так однозначно, как может показаться: начало
                | повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в
                | формировании форм воздействия. Задача организации, в особенности же понимание сути ресурсосберегающих
                | технологий требует определения и уточнения существующих финансовых и административных условий. Учитывая
                | ключевые сценарии поведения, постоянное информационно-пропагандистское обеспечение нашей деятельности не
                | оставляет шанса для стандартных подходов.
            .row
                .col-12.col-xl-7
                    .c-files-section.c-files-section_cols-1
                        .c-files-section__header
                            .c-files-section__title Документы для скачивания
                        .c-files-section__list
                            .row.c-files-list
                                .c-files-list__item.col-12
                                    +c-files-list__item({href:'images/about-main-page.jpg',icon:'images/svg.svg#pdf', value:'ПАСПОРТ НАПОЛЬНЫЙ СЕРВЕРНЫЙ ШКАФ NTSS СЕРИИ ПРОЦОД', size:'1.3 Mb'})
                                .c-files-list__item.col-12
                                    +c-files-list__item({href:'images/about-main-page.jpg',icon:'images/svg.svg#pdf', value:'ПАСПОРТ НАПОЛЬНЫЙ СЕРВЕРНЫЙ ШКАФ NTSS СЕРИИ ПРОЦОД', size:'1.3 Mb'})
                                .c-files-list__item.col-12
                                    +c-files-list__item({href:'images/about-main-page.jpg',icon:'images/svg.svg#pdf', value:'ПАСПОРТ НАПОЛЬНЫЙ СЕРВЕРНЫЙ ШКАФ NTSS СЕРИИ ПРОЦОД', size:'1.3 Mb'})
                                .c-files-list__item.col-12
                                    +c-files-list__item({href:'images/about-main-page.jpg',icon:'images/svg.svg#pdf', value:'ПАСПОРТ НАПОЛЬНЫЙ СЕРВЕРНЫЙ ШКАФ NTSS СЕРИИ ПРОЦОД', size:'1.3 Mb'})
                                .c-files-list__item.col-12
                                    +c-files-list__item({href:'images/about-main-page.jpg',icon:'images/svg.svg#pdf', value:'ПАСПОРТ НАПОЛЬНЫЙ СЕРВЕРНЫЙ ШКАФ NTSS СЕРИИ ПРОЦОД', size:'1.3 Mb'})
                        .c-files-section__footer
                            a.c-link.c-link_events.c-docs-list__link(download='' href='images/banner.jpg' target='_blank') Скачать всё одним архивом (2.6 MB)


