.c-bottom-menu__item + .c-bottom-menu__item{
  margin-top: 10px;
}
.c-bottom-menu__item:first-child{
  font-weight: 600;
  margin-bottom: 14px;
  color: $color-darkest;
}

.c-footer__logo{
  margin-bottom: 20px;
  display: inline-block;
}
.c-bottom-menu__link{
  &:hover,&:focus{
    color: $color-primary;
  }
}
.c-footer{
  padding-top: 16px;
  padding-bottom: 35px;
  background-color: $color-lighten;
}

.c-social{
  margin-right: -10px;
  margin-left: -10px;
  &__item{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    transition: transform .1s ease-in;
    &:hover,&:focus{
      transform: scale(1.1);
    }
  }
}