body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-dark;

}

.c-accordion-list {
  overflow: hidden;
  transition: .1s max-height ease-in;
  user-select: none;
  padding-top: 14px;
  padding-bottom: 14px;

  &__item + &__item {
    margin-top: 14px;
  }


  &__item {
    display: flex;
    color: $color-dark;
  }
}

.c-checkbox {
  display: inline-flex;

  &_primary {
    .c-checkbox__label:before {
      border-color: $color-primary;
    }
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

    &:checked + .c-checkbox__label:before {
      background-image: url(images/checkmark.svg);
    }
  }

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: $color-lightest;
      border: 1px solid;
      border-radius: 4px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

  }

  &__inner {
    margin-left: 8px;
  }
}

.c-icon-list {
  display: inline-flex;
  flex-direction: column;
  //overflow-y: auto;
  //
  //&::-webkit-scrollbar {
  //  display: none;
  //}

  &__item {
    width: max-content;
    cursor: pointer;

    & + & {
      margin-top: 22px;
    }
  }
}

.c-category-card {
  height: 100%;
  background-color: $color-lightest;
  border: 1px solid $color-lighten;
  padding: 10px 10px 20px;
  display: block;
  text-decoration: none;
  transition: transform, box-shadow, .1s ease-in;

  &_events {
    &:hover, &:focus {
      transform: scale(1.1);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }

  &__preview {
    height: 238px;
    max-height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__img {
    max-width: 100%;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: $color-dark;
    height: 2.8em;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

.c-simple-product-card {
  height: 100%;

  &_events {
    transition: transform, box-shadow, .1s ease-in;

    &:hover, &:focus {
      transform: scale(.9);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: $color-dark;
    margin-top: 10px;
    height: 2.3em;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  &__img {
    max-width: 100%;
  }

  &__body {
    height: 157px;
    max-height: 100%;
    border: 1px solid $color-lighten;
    padding: 10px 18px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.c-news-card {
  height: 100%;
  background-color: $color-lightest;
  padding: 20px;
  border-radius: 2px;
  text-decoration: none;
  display: block;
  color: $color-dark;
  transition: background-color, box-shadow, color, .2s;
  border: 1px solid $color-lighten;

  &_events {
    &:hover, &:focus {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background-color: $color-primary;
      color: $color-lightest;

      .c-news-card__preview {
        background-size: 110%;
      }
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.2;
    color: inherit;
    height: 2.4em;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  &__date {
    font-size: 14px;
    line-height: 1.2;
    color: inherit;
  }

  &__preview {
    height: 220px;
    max-height: 100%;
    margin-bottom: 20px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background .4s ease-in-out;
  }

}

.c-product-card {
  border-radius: 6px;
  background-color: $color-lightest;
  position: relative;
  transition: box-shadow, .2s ease-in;


  &_bordered {
    border: 1px solid $color-lighten;
    border-radius: 6px;
  }

  &_events {
    &:hover, &:focus {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }

  &__body {
    overflow: hidden;
  }

  &__actions {
    .c-icon-list {
      height: 112px;
    }

    position: absolute;
  }

  &__preview {
    padding: 10px;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }

  &_sm {
    padding: 10px;

    .c-product-card__actions {
      top: 10px;
      right: 10px;
    }

    .c-product-card__preview {
      margin-bottom: 10px;
      flex-basis: 190px;
    }

    .c-product-desc__item + .c-product-desc__item {
      margin-top: 14px;
    }
  }

  &_md {
    padding: 10px;

    .c-product-card__actions {
      top: 10px;
      right: 10px;
    }

    .c-product-card__preview {
      margin-bottom: 20px;
      flex-basis: 218px;
    }

    .c-product-card__description {
      margin-bottom: 10px;
    }

    .c-product-desc__item + .c-product-desc__item {
      margin-top: 10px;
    }
  }

  &_lg {
    display: flex;
    border-radius: 18px;
    padding: 20px;

    .c-product-card__actions {
      top: 20px;
      right: 20px;
    }

    .c-product-desc__item + .c-product-desc__item {
      margin-top: 10px;
    }

    .c-product-card__description {
      margin-bottom: 20px;
    }

    .c-product-card__preview {
      flex-basis: 156px;
      margin-bottom: 0;
    }

    .c-product-card__body {
      padding-right: 94px;
    }

    .c-product-card__controls {
      width: 630px;
      max-width: 100%;
    }

    &.c-product-card_left-control {
      .c-product-card__preview {
        flex-basis: 136px;
      }
    }
    &.c-product-card_card-added {
      .c-product-card__body {
        padding-right: 0;
        display: flex;
        align-items: center;
      }
    }

  }

}

.c-product-desc {
  &__text {
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    height: 2.4em;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: $color-darken;

    &:hover, &:focus {
      color: $color-primary;
    }
  }

  &__articul {
    font-size: 12px;
    color: $color-secondary;
  }

  &__price {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: $color-darkest;
  }


  &_lg {

  }

  &_sm {

  }
}

.c-product-controls {
  &_lg {
    display: flex;
    max-width: 100%;
  }

  &_lg &__body {
    width: 330px;
    flex-shrink: 0;
    margin-right: 20px;
  }

  &_sm {
    flex-direction: column;
    width: 280px;
  }

  &__body {
    display: flex;
    margin-bottom: 10px;
    flex-shrink: 0;
  }

  &__counter {
    width: 100px;
    flex-shrink: 0;
    margin-right: 10px;
  }

  &__basket {
    flex-grow: 1;
  }

  &__footer {
    width: 100%;
  }
}

.c-pagination-list {
  display: flex;
  margin-right: -6px;
  margin-left: -6px;

  &__item {
    padding-left: 6px;
    padding-right: 6px;
  }
}


.c-product-list {
  //display: flex;
  //flex-wrap: wrap;
  //margin-right: -10px;
  //margin-left: -10px;
&_bordered{
  .c-product-list__item + .c-product-list__item {
    border-top: 1px solid $color-lighten;
  }
}


  &__item {
    //padding-left: 10px;
    //padding-right: 10px;
    margin-bottom: 20px;
    max-width: 100%;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &_fixed-item.c-product-list_sm &__item {
    width: 220px;
  }

  &_fixed-item.c-product-list_md &__item {
    width: 286px;
  }

  &_fixed-item.c-product-list_lg &__item {
    width: 329px;
  }

}

.c-product-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: $color-darkest;

  &__old {
    font-size: 12px;
    text-decoration: line-through;
  }
}

.c-aside-btn {
  border: 1px solid $color-lighten;
  border-radius: 4px;
  background-color: $color-lightest;
  color: $color-darken;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 15px;

  &_active, &:hover {
    background-color: $color-primary;
    color: $color-lightest;
  }
}


.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in;
}

.c-view-btn {
  background-color: transparent;

  rect {
    fill: $color-primary;
  }

  &:hover, &:focus, &_active {
    rect {
      fill: $color-secondary;
    }
  }
}

.c-view-list {
  display: flex;
  margin-left: -30px;
  margin-right: -30px;

  &__item {
    padding-left: 30px;
    padding-right: -30px;
  }
}

.c-input-counter {
  position: relative;

  &__input {

  }

  &__right-ctrl {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

  }

  &__left-ctrl {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
}

.c-slider {

  & .owl-nav {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    transform: translateY(-50%);
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &_w-auto {
    .owl-item img {
      width: auto;
    }
  }

  &_h-100 {
    .c-slider__item {
      height: 100%;
    }
  }

  & .owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.owl-nav > button {
  background-color: transparent;
}

.slider-wrap {
  &__slider-controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.c-link {
  text-decoration: none;
  display: block;

  &_events {
    &:hover, &:focus {
      color: $color-primary;
    }
  }
}

.slide-desc {
  color: white;
  text-align: center;
  font-size: 26px;
}

.u-bg-tertiary {
  background-color: $color-secondary;
}

.c-main-banner {
  height: 534px;

  & .owl-item {
    height: 534px;
  }

  &__title {
    color: white;
    font-size: 40px;
    line-height: 1.4;
    margin-top: 150px;
    text-transform: uppercase;
  }
}

.c-secondary-banner {
  display: block;
  position: relative;
  height: 384px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: box-shadow .2s ease-in-out;

  &:hover, &:focus {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 64px 49px -2px inset, rgba(0, 0, 0, 0.3) 0px 19px 66px -18px inset;
  }

  &__title {
    color: $color-darkest;
    font-size: 40px;
    line-height: 1.4;
    text-transform: uppercase;
    position: absolute;
    left: 307px;
    top: 57px;
  }
}

.c-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__body {
    width: 850px;
    max-width: 100%;
  }

  &__field {
    margin-bottom: 20px;
  }

  &__control {
    margin-bottom: 20px;
  }

  &__header {
    margin-bottom: 40px;
  }

  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $color-darken;
    text-align: center;
  }

  &__footer {
    margin-top: 30px;
    color: $color-darken;
  }
}

.u-text-red {
  color: red;
}

.c-doc-item {
  display: flex;
  text-decoration: none;
  color: inherit;
  transition: box-shadow, background-color, .2s ease-in-out;

  &_default {
    &:hover, &:focus {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .c-doc-item__props {
      flex: 1 0 1%;
    }

    .c-doc-item__view {
      width: 124px;
      margin-right: 20px;
      background-color: $color-lighten;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 143%;
      }
    }

    .c-doc-item__name {
      margin-bottom: 30px;
      color: $color-darken;
      display: block;
    }

    .c-doc-item__icon {
      margin-left: 20px;
    }

    .c-doc-item__size {
      display: flex;
      align-items: center;
      font-size: 12px;
    }
  }

  &_row {
    &:hover, &:focus {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px inset, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px inset;
      background-color: rgba($color-primary, .1);
    }

    align-items: center;
    border-radius: 6px;
    padding: 18px 20px;
    background-color: $color-lighten;

    .c-doc-item__view {;
      margin-right: 10px;
      flex: 0 0 18px;
    }

    .c-doc-item__name {
      text-transform: uppercase;
      color: $color-darken;
      font-weight: 500;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 1.2em;
      display: block;
      flex: 1 0 1%;
    }

    .c-doc-item__icon {
      margin-left: 20px;
    }

    .c-doc-item__size {
      display: flex;
      align-items: center;
      flex: 0 0 auto;
    }
  }

}

.c-docs-section {
  margin-bottom: 40px;

  &__header {
    margin-bottom: 40px;
    align-items: center;
  }

  &__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2;
    color: $color-darken;

  }

  &__link {
    margin-left: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
    color: $color-dark;
  }

}

.c-docs-list {
  &__item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

}

.c-files-section {
  &_cols-1 {
    .c-files-list .c-files-list__item:nth-child(even) .c-doc-item {
      background-color: $color-lightest;
    }
  }

  &_cols-2 {
    .c-files-list .c-files-list__item:nth-child(4n - 1) .c-doc-item, .c-files-list .c-files-list__item:nth-child(4n) .c-doc-item {
      background-color: $color-lightest;
    }
  }

  &__footer {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
    color: $color-dark;
  }

  &__header {
    margin-bottom: 30px;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $color-darkest;
  }
}

.c-content {
  &_default {
    padding-bottom: 100px;
  }

  &_form-page {
    padding-top: 160px;
    padding-bottom: 160px;
  }

}

.c-news-list {
  &__item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


.c-lk-list {
  &__item + &__item {
    margin-top: 30px;
  }
}

.c-tabs {
  display: flex;
  margin-bottom: 50px;

  &_ghost {
    .c-tabs__link {
      display: block;
      text-decoration: none;
      border-bottom: 2px solid $color-dark;
      text-transform: uppercase;
      padding-bottom: 14px;
      font-size: 20px;
      line-height: 24px;

    }

    .c-tabs__link + .c-tabs__link {
      padding-left: 25px;
    }

    .c-tabs__link:hover, .c-tabs__link:focus, .c-tabs__link-active {
      color: $color-primary;
      border-color: $color-primary;
    }

  }

  &_default {
    .c-tabs__link {
      width: auto;
      text-decoration: none;
      padding: 14px 20px;
      background-color: $color-lightest;
      border: 1px solid #F2F2F2;
      color: $color-dark;
    }

    .c-tabs__link + .c-tabs__link {
      margin-left: 20px;
    }

    .c-tabs__link:hover, .c-tabs__link:focus, .c-tabs__link-active {
      background-color: $color-primary;
      color: $color-lightest;
      border-color: transparent;
    }

  }
}


.c-specifications-section {
  padding: 30px;
  border: 1px solid #F2F2F2;
  border-radius: 6px;
  background-color: $color-lightest;
  margin-bottom: 20px;

  &__actions {
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
  }

  &__action {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-flex;
  }

  &__header {
    margin-bottom: 20px;
    align-items: center;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $color-darkest;

  }

  &__link {
    margin-left: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
    color: $color-dark;
  }

}

.c-total-price {
  background: $color-lighten;
  border: 1px solid $color-lighten;
  border-radius: 6px;
  padding: 40px 30px;
  height: 100%;

  &__item + &__item {
    margin-top: 30px;
  }

  &__position {
    font-size: 18px;
    line-height: 1.2;
    color: $color-darken;

  }

  &__price {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $color-darkest;
  }
}

.c-added-basket-section{
  &__main{
    margin-bottom: 56px;
  }
  &__footer{
    margin-top: 20px;
  }
  &__related-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $color-darken;
    margin-bottom: 24px;
  }
}
