body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-dark;

}


.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in;
}

.c-doc-item {
  display: flex;
  text-decoration: none;
  color: inherit;
  transition: box-shadow, background-color, .2s ease-in-out;

  &_default {
    &:hover, &:focus {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .c-doc-item__props {
      flex: 1 0 1%;
    }

    .c-doc-item__view {
      width: 124px;
      margin-right: 20px;
      background-color: $color-lighten;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 143%;
      }
    }

    .c-doc-item__name {
      margin-bottom: 30px;
      color: $color-darken;
      display: block;
    }

    .c-doc-item__icon {
      margin-left: 20px;
    }

    .c-doc-item__size {
      display: flex;
      align-items: center;
      font-size: 12px;
    }
  }

  &_row {
    &:hover, &:focus {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px inset, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px inset;
      background-color: rgba($color-primary, .1);
    }

    align-items: center;
    border-radius: 6px;
    padding: 18px 20px;
    background-color: $color-lighten;

    .c-doc-item__view {;
      margin-right: 10px;
      flex: 0 0 18px;
    }

    .c-doc-item__name {
      text-transform: uppercase;
      color: $color-darken;
      font-weight: 500;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 1.2em;
      display: block;
      flex: 1 0 1%;
    }

    .c-doc-item__icon {
      margin-left: 20px;
    }

    .c-doc-item__size {
      display: flex;
      align-items: center;
      flex: 0 0 auto;
    }
  }

}

.c-content {
  &_default {
    padding-bottom: 100px;
  }

  &_form-page {
    padding-top: 160px;
    padding-bottom: 160px;
  }

}

.c-total-price {
  background: $color-lighten;
  border: 1px solid $color-lighten;
  border-radius: 6px;
  padding: 40px 30px;
  height: 100%;

  &__item + &__item {
    margin-top: 30px;
  }

  &__position {
    font-size: 18px;
    line-height: 1.2;
    color: $color-darken;

  }

  &__price {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $color-darkest;
  }
}

.c-cart-specifications-total{
  padding: 30px;
  background-color: $color-lighten;
  &__btn{
    width: 280px;
    max-width: 100%;
  }
  &__prop{
    font-size: 14px;
    line-height: 22px;
    color: $color-darkest;
  }
  &__list{
    margin-bottom: -10px;
  }
  &__item{
    padding-bottom: 10px;
  }
}

.c-shopping-cart{
  &__list{
    border: 1px solid $color-lighten;


  }
  &__footer{
    margin-top: 30px;
  }
}

.characters-table{
  width: 100%;
  &__row{
    &:nth-child(odd){
      background-color: #F7F7FF;
    }
    &:hover,&:focus{
      background-color: $color-primary;
      color: $color-lightest;
      font-weight: 500;
    }
    padding: 13px 20px;
    border-radius: 6px;
    color: $color-darken;
    font-size: 14px;
    line-height: 1.4;
  }
  &__item{

  }
}

.c-header-detail{
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #21458C;
}