body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #7C7C7C;
}

.c-accordion-list {
  overflow: hidden;
  transition: .1s max-height ease-in;
  user-select: none;
  padding-top: 14px;
  padding-bottom: 14px;

  &__item + &__item {
    margin-top: 14px;
  }


  &__item {
    display: flex;
    color: #7C7C7C;
  }
}

.c-checkbox {
  &_primary {
    .c-checkbox__label:before {
      border-color: #82A4E8;
    }
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

    &:checked + .c-checkbox__label:before {
      background-image: url(images/checkmark.svg);
    }
  }

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #FFFFFF;
      border: 1px solid;
      border-radius: 4px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

  }

  &__inner {
    margin-left: 8px;
  }
}

.c-icon-list {
  display: inline-flex;
  flex-direction: column;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    width: max-content;
    cursor: pointer;

    & + & {
      margin-top: 22px;
    }
  }
}

.c-category-card {
  height: 100%;
  background-color: #FFFFFF;
  border: 1px solid #F2F2F2;
  padding: 10px 10px 20px;
  display: block;
  text-decoration: none;
  transition: transform, box-shadow, .1s ease-in;

  &_events {
    &:hover, &:focus {
      transform: scale(1.1);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }

  &__preview {
    height: 238px;
    max-height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__img {
    max-width: 100%;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: #7C7C7C;
    height: 2.8em;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

.c-simple-product-card {
  height: 100%;

  &_events {
    transition: transform, box-shadow, .1s ease-in;

    &:hover, &:focus {
      transform: scale(.9);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #7C7C7C;
    margin-top: 10px;
    height: 2.3em;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  &__img {
    max-width: 100%;
  }

  &__body {
    height: 157px;
    max-height: 100%;
    border: 1px solid #F2F2F2;
    padding: 10px 18px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.c-news-card {
  height: 100%;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 2px;
  text-decoration: none;
  display: block;
  color: #7C7C7C;
  transition: background-color, box-shadow, color, .2s;

  &_events {
    &:hover, &:focus {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background-color: #82A4E8;
      color: #FFFFFF;

      .c-news-card__preview {
        background-size: 110%;
      }
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.2;
    color: inherit;
    height: 2.4em;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  &__date {
    font-size: 14px;
    line-height: 1.2;
    color: inherit;
  }

  &__preview {
    height: 220px;
    max-height: 100%;
    margin-bottom: 20px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background .4s ease-in-out;
  }

}

.c-product-card {
  border-radius: 6px;
  background-color: #FFFFFF;
  position: relative;
  transition: box-shadow, .2s ease-in;;

  &_events {
    &:hover, &:focus {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }

  &__body {
    overflow: hidden;
  }

  &__actions {
    height: 112px;
    position: absolute;
  }

  &__preview {
    padding: 10px;
    max-height: 100%;
    flex-basis: 218px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }

  &_sm {
    padding: 10px;

    .c-product-card__actions {
      top: 10px;
      right: 10px;
    }

    .c-product-card__preview {
      margin-bottom: 10px;
      height: 190px;
    }

    .c-product-desc__item + .c-product-desc__item {
      margin-top: 14px;
    }
  }

  &_md {
    padding: 10px;

    .c-product-card__actions {
      top: 10px;
      right: 10px;
    }

    .c-product-card__preview {
      margin-bottom: 20px;
      height: 218px;
    }

    .c-product-card__description {
      margin-bottom: 10px;
    }

    .c-product-desc__item + .c-product-desc__item {
      margin-top: 10px;
    }
  }

  &_lg {
    display: flex;
    border-radius: 18px;
    padding: 20px;

    .c-product-card__actions {
      top: 20px;
      right: 20px;
    }

    .c-product-desc__item + .c-product-desc__item {
      margin-top: 10px;
    }

    .c-product-card__description {
      margin-bottom: 20px;
    }

    .c-product-card__preview {
      height: 156px;
      margin-bottom: 0;
    }

    .c-product-card__body {
      padding-right: 94px;
    }

    .c-product-card__controls {
      width: 630px;
      max-width: 100%;
    }
  }
}

.c-product-desc {
  &__text {
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    height: 2.4em;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #555555;

    &:hover, &:focus {
      color: #82A4E8;
    }
  }

  &__articul {
    font-size: 12px;
    color: #21458C;
  }

  &__price {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
  }


  &_lg {

  }

  &_sm {

  }
}

.c-product-controls {
  &_lg {
    display: flex;
    max-width: 100%;
  }

  &_lg &__body {
    width: 330px;
    flex-shrink: 0;
    margin-right: 20px;
  }

  &__body {
    display: flex;
    margin-bottom: 10px;
    flex-shrink: 0;
  }

  &__counter {
    width: 100px;
    flex-shrink: 0;
    margin-right: 10px;
  }

  &__basket {
    flex-grow: 1;
  }

  &__footer {
    width: 100%;
  }
}

.c-pagination-list {
  display: flex;
  margin-right: -6px;
  margin-left: -6px;

  &__item {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.c-product-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;

  &__item {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    max-width: 100%;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &_sm &__item {
    width: 220px;
  }

  &_md &__item {
    width: 286px;
  }
}

.c-product-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;

  &__old {
    font-size: 12px;
    text-decoration: line-through;
  }
}

.c-aside-btn {
  background-color: #FFFFFF;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;

  &.active, &:hover {
    background-color: #82A4E8;
    color: #FFFFFF;
  }
}


.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in;
}

.c-view-btn {
  background-color: transparent;

  rect {
    fill: #82A4E8
  }

  &__active {
    rect {
      fill: #21458C
    }
  }
}

.c-view-list {
  display: flex;
  margin-left: -30px;
  margin-right: -30px;

  &__item {
    padding-left: 30px;
    padding-right: -30px;
  }
}

.c-input-counter {
  position: relative;

  &__input {

  }

  &__right-ctrl {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

  }

  &__left-ctrl {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
}

.c-slider {

  & .owl-nav {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    transform: translateY(-50%);
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &_w-auto {
    .owl-item img {
      width: auto;
    }
  }

  &_h-100 {
    .c-slider__item {
      height: 100%;
    }
  }

  & .owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.owl-nav > button {
  background-color: transparent;
}

.slider-wrap {
  &__slider-controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.c-link {
  text-decoration: none;
  display: block;
  color: inherit;

  &_events {
    &:hover, &:focus {
      color: #82A4E8;
    }
  }
}

.slide-desc {
  color: white;
  text-align: center;
  font-size: 26px;
}

.u-bg-tertiary {
  background-color: #21458C;
}

.c-main-banner {
  height: 534px;

  & .owl-item {
    height: 534px;
  }

  &__title {
    color: white;
    font-size: 40px;
    line-height: 1.4;
    margin-top: 150px;
    text-transform: uppercase;
  }
}

.c-secondary-banner {
  display: block;
  position: relative;
  height: 384px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: box-shadow .2s ease-in-out;

  &:hover, &:focus {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 64px 49px -2px inset, rgba(0, 0, 0, 0.3) 0px 19px 66px -18px inset;
  }

  &__title {
    color: #000000;
    font-size: 40px;
    line-height: 1.4;
    text-transform: uppercase;
    position: absolute;
    left: 307px;
    top: 57px;
  }
}

.c-sign-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
  margin-bottom: 160px;

  &__body {
    width: 850px;
    max-width: 100%;
  }

  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 40px;
    text-align: center;
  }

  &__item {
    width: 100%;

    & + & {
      margin-top: 20px;
    }

    &:last-child {
      margin-top: 30px;
    }
  }
}

.u-text-red {
  color: red;
}

.c-doc-item {
  display: flex;
  text-decoration: none;
  color: inherit;
  transition: box-shadow, background-color, .2s ease-in-out;

  &_default {
    &:hover, &:focus {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .c-doc-item__props {
      flex: 1 0 1%;
    }

    .c-doc-item__view {
      width: 124px;
      margin-right: 20px;
      background-color: #F2F2F2;

      &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 143%;
      }
    }

    .c-doc-item__name {
      margin-bottom: 30px;
      color: #555555;
      display: block;
    }

    .c-doc-item__icon {
      margin-left: 20px;
    }

    .c-doc-item__size {
      display: flex;
      align-items: center;
    }
  }

  &_row {
    &:hover, &:focus {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px inset, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px inset;
      background-color: rgba(#82A4E8, .1);
    }

    align-items: center;
    border-radius: 6px;
    padding: 18px 20px;
    background-color: #F2F2F2;

    .c-doc-item__view {;
      margin-right: 10px;
      flex-shrink: 0;
    }

    .c-doc-item__name {
      text-transform: uppercase;
      color: #555555;
      font-weight: 500;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 1.2em;
      display: block;
    }

    .c-doc-item__icon {
      margin-left: 20px;
    }

    .c-doc-item__size {
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }
  }

}

.c-docs-list {
  padding-top: 20px;
  padding-bottom: 20px;

  &__header {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2;
    color: #555555;

  }

  &__link {
    margin-left: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
    color: #7C7C7C;
  }

  &__item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.c-files-list{
  &_cols-1 {
    .c-files-list__list .c-files-list__item:nth-child(even) .c-doc-item{
      background-color: #FFFFFF;
    }
  }
  &_cols-2{
    .c-files-list__list .c-files-list__item:nth-child(4n - 1) .c-doc-item, .c-files-list__list .c-files-list__item:nth-child(4n) .c-doc-item {
      background-color: #FFFFFF;
    }
  }
  &__footer{
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
  }
  &__link{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
    color: #7C7C7C;
  }
  &__header {
    margin-bottom: 30px;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #000000;
  }
}


