.c-btn {
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  max-width: 100%;
  width: 100%;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background-color .2s ease;

  &_slider-nav {
    width: 52px;
    height: 52px;
    background-color: $color-lightest;
  }

  &_width-md {
    width: 226px;
    max-width: 100%;
  }

  &_width-lg {
  }
}

.c-btn_style-default {
  background-color: $color-lightest;
  color: $color-dark;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover, &:focus {
    background-color: $color-lighten;
  }
}

.c-btn_style-underline {
  background-color: transparent;
  border-bottom: 2px solid;

  &.c-btn_sm, &.c-btn_md, &.c-btn_lg {
    border-radius: 0;
  }
}
.c-btn_style-underline.c-btn_active.c-btn_color-primary{
  color: $color-primary;
  border-color: $color-primary;
}
.c-btn_style-underline.c-btn_sm {
  height: 38px;
  font-size: 16px;
  line-height: 19px;
  padding-left: 0;
  padding-right: 0;
}
.c-btn_style-underline.c-btn_color-primary {
  color: $color-dark;
  border-color: $color-secondary;

  &:hover, &:focus,  {
    color: $color-primary;
    border-color: $color-primary;
  }
}

.c-btn_style-default.c-btn_color-primary {
  background-color: $color-primary;
  color: $color-lightest;

  &:hover, &:focus {
    background-color: $color-tertiary;
  }
}

.c-btn_style-default.c-btn_color-primary-dark {
  background-color: $color-secondary;
  color: $color-lightest;
}

.c-btn_style-default.c-btn_color-light {
  background-color: $color-lightest;
  color: $color-dark;
  border: 1px solid #F2F2F2;

  &:hover, &:focus {
    background-color: $color-dark;
    color: $color-lightest;
  }
}

.c-btn_sm {
  height: 46px;
  font-size: 14px;
  line-height: 17px;
  border-radius: 6px;
}

.c-btn_md {
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.c-btn_lg {
  height: 60px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}


.c-btn_product-action {
  background-color: transparent;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.c-btn_pagination {
  background-color: transparent;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  color: $color-dark;
  cursor: pointer;

  & .c-btn__icon path {
    fill: currentColor;
  }

  &:focus {
    border: 1px solid $color-primary;
  }

  &:hover, &.active {
    background-color: $color-primary;
    color: $color-lightest;
  }
}
