.c-icon .c-icon_default {
  fill: none;
}

.c-icon_primary {

}


.c-icon-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.c-icon-list__item + .c-icon-list__item {
  margin-top: 20px;
}
