.c-input {
	border-radius: 0;
	box-shadow: none;
	outline: none;
	border: none;
}

.c-input_style-default {
	border-width: 1px;
	border-style: solid;
}

.c-input_style-default.c-input_color-primary {
	background-color: #FFFFFF;
	border-color: #F2F2F2;
	color: #000000;
	&::placeholder{
		color: #7C7C7C;
	}
	&:hover, &:focus {
		border-color: #7C7C7C;
		&::placeholder{
			color: #555555;
		}
	}

	&:not(:placeholder-shown) {
		border-color: #21458C;
	}

	&:not(:placeholder-shown):hover,&:not(:placeholder-shown):focus {
		border-color: #82A4E8;
	}
}

.c-input_md {
	padding: 14px 20px;
	font-size: 16px;
	line-height: 20px;
	height: 48px;
	border-radius: 4px;
}

.c-input_lg {
	padding: 22px 30px;
	font-size: 14px;
	line-height: 17px;
	height: 60px;
	border-radius: 6px;
}
