.c-input {
  border-radius: 0;
  box-shadow: none;
  outline: none;
  border: none;
  width: 100%;
}

.c-input_style-default {
  border-width: 1px;
  border-style: solid;
}

.c-input_style-secondary {
  text-align: center;
}

.c-input_style-default.c-input_color-primary {
  background-color: $color-lightest;
  border-color: $color-lighten;
  color: $color-darkest;

  &::placeholder {
    color: $color-dark;
  }

  &:hover, &:focus {
    border-color: $color-dark;

    &::placeholder {
      color: $color-darken;
    }
  }

  &:not(:placeholder-shown) {
    border-color: $color-secondary;
  }

  &:not(:placeholder-shown):hover, &:not(:placeholder-shown):focus {
    border-color: $color-primary;
  }
}

.c-input_style-secondary.c-input_color-primary {
  background-color: $color-lighten;
}

.c-input_md {
  padding: 14px 20px;
  font-size: 16px;
  line-height: 20px;
  height: 48px;
  border-radius: 4px;
}

.c-input_lg {
  padding: 22px 30px;
  font-size: 14px;
  line-height: 17px;
  height: 60px;
  border-radius: 6px;
}


.c-input-wrap {
  position: relative;

  &_anim-label {
    .c-input-wrap__label {
      pointer-events: none;
      position: absolute;
      background-color: $color-lightest;
      transition: transform .2s ease-in-out;
      font-size: 14px;
      top: 50%;
      transform: translateY(-50%);
    }

    &.c-input-wrap_md {
      .c-input-wrap__label {
        left: 20px;
      }
    }

    &.c-input-wrap_lg {
      .c-input-wrap__label {
        left: 30px;
      }
    }

    &.c-input-wrap_changed {
      .c-input-wrap__label {
        transform: translateY(-200%);
      }
    }
  }

}

.c-label{
  display: flex;
  margin-bottom: 14px;
  font-size: 16px;
  color: #555555;
}

.c-input_textarea{
  resize: none;
  padding: 22px 30px;
  height: auto;
}


/* hide */
.c-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* label */
.c-checkbox-primary .c-checkbox + .c-label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid $color-primary;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
}


/* focus */
.c-checkbox-primary .c-checkbox:focus + .c-label::before {
  border-color: $color-primary;
  transition: border .2s ease-in-out;
}

/* checked */
.c-checkbox-primary .c-checkbox:checked + .c-label::before {
  border-color: $color-primary;
  border-width: 8px;
}

/*disabled */
.c-checkbox-primary .c-checkbox:disabled + .c-label {
  color: #C0CBD7;
}

.c-checkbox-primary.c-checkbox-primary_default .c-checkbox + .c-label::before {
  margin-right: 14px;
}
.c-checkbox-primary .c-checkbox:disabled + .c-label::before {
  background-color: rgba($color-dark,.2) ;
  border-color: $color-dark;
}

/*disabled checked*/
.c-checkbox-primary .c-checkbox:disabled:checked + .c-label::before {
  background-color: rgba($color-dark,.2) ;
  border-color: $color-dark;
  background-image: url("");
}

