.c-input {
  border-radius: 0;
  box-shadow: none;
  outline: none;
  border: none;
  width: 100%;
}

.c-input_style-default {
  border-width: 1px;
  border-style: solid;
}

.c-input_style-secondary {
  text-align: center;
}

.c-input_style-default.c-input_color-primary {
  background-color: $color-lightest;
  border-color: $color-lighten;
  color: $color-darkest;

  &::placeholder {
    color: $color-dark;
  }

  &:hover, &:focus {
    border-color: $color-dark;

    &::placeholder {
      color: $color-darken;
    }
  }

  &:not(:placeholder-shown) {
    border-color: $color-secondary;
  }

  &:not(:placeholder-shown):hover, &:not(:placeholder-shown):focus {
    border-color: $color-primary;
  }
}

.c-input_style-secondary.c-input_color-primary {
  background-color: $color-lighten;
}

.c-input_md {
  padding: 14px 20px;
  font-size: 16px;
  line-height: 20px;
  height: 48px;
  border-radius: 4px;
}

.c-input_lg {
  padding: 22px 30px;
  font-size: 14px;
  line-height: 17px;
  height: 60px;
  border-radius: 6px;
}


.c-input-wrap {
  position: relative;

  &__label {
    pointer-events: none;
    position: absolute;
    background-color: $color-lightest;
    transition: transform .2s ease-in-out;
  }
  .c-input-wrap__label{
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
  }
  &_md {
    .c-input-wrap__label {
      left: 20px;
    }
  }

  &_lg {
    .c-input-wrap__label {
      left: 30px;
    }
  }
&_changed{
  & .c-input-wrap__label{
    transform: translateY(-200%);
  }
}

}