.c-section {
  &_sm {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &_md {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &_lg {
    padding-top: 40px;
    padding-bottom: 40px;
    & .c-section__header{
      margin-bottom: 40px;
    }
  }
}